body {
  font-family: "Space Mono", monospace;
  margin: 0px;
}
html {
  height: 100vh;
  width: 100vw;
}
.homeImg {
  height: 35em;
  border: 4px solid black;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
  background-color: #333;
}
.logoAndTabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.navBar {
  width: 80vw;
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.navLink {
  color: white;
  text-decoration: none;
  padding: 1em 1em 0.75em 1em;
  font-size: 2em;
  transition: transform 0.3s ease;
  width: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navLink:hover {
  transform: scale(1.1);
}

.linkContainer:hover .brush {
  visibility: visible;
}
.logoContainer {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLogo {
  height: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.brush {
  width: 10em;
  height: 1.5em;
  position: absolute;
  bottom: 0;
  visibility: hidden;
}
.homeMainCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.5em;
}

.homeMain {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 5em;
}

.homeText {
  width: 40vw;
  font-size: 1.7em;
  text-align: center;
}
.servicesMainCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}
.serviceMain {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 70vh;
}

.serviceText {
  width: 45vw;
  font-size: 1.7em;
}

.serviceImg {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewsMainCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.phoneImg {
  height: 2em;
}

.emailImg {
  height: 2em;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.review {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.reviewText {
  width: 30vw;
}
.nameRate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0em;
}
.name {
  margin: 0px;
}

.rating {
  font-size: 2em;
  margin: 0px;
}

.headerEffect {
  display: flex;

  align-items: center;
  width: 99vw;
}
.sphere {
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 50%;
  position: relative;
  top: 1em;
  z-index: 1;
  transition: width 2s, height 1s;
  margin: -5px;
}
@keyframes fallToBottom {
  to {
    transform: translateY(50vh);
  }
}

/*xs*/
@media (max-width: 639px) {
  body {
    overflow-x: hidden;
   
  }
  html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
  }

  .homeImg {
    width: 90vw;
    height: auto;
    border: 4px solid black;
  }

  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    background-color: #333;
    width: 100vw;
  }

  .logoAndTabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 99vw;
  }

  .navBar {
    width: 80vw;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
  }

  .navLink {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    transition: transform 0.3s ease;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .linkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLink:hover {
    transform: scale(1.1);
  }

  .linkContainer:hover .brush {
    visibility: hidden;
  }

  .logoContainer {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navLogo {
    height: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .brush {
    width: 10em;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }

  .homeMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }

  .logo {
    width: 80vw;
    
  }

  .homeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 0.1em;
  }

  .homeText {
    width: 80vw;
    font-size: 1em;
    padding-bottom: 1em;
  }

  .servicesMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5.5em;
  }

  .serviceMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 0.5em;
  }

  .serviceText {
    width: 95vw;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .serviceImg {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviewsMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .phoneImg {
    height: 2em;
  }

  .emailImg {
    height: 2em;
  }

  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 0.5em;
  }

  .review {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25em;
  }

  .reviewText {
    width: 90vw;
    font-size: 0.8em;
  }

  .nameRate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0em;
  }

  .name {
    margin: 0px;
  }

  .rating {
    font-size: 2em;
    margin: 0px;
  }

  .headerEffect {
    display: flex;
    align-items: center;
    width: 99vw;
  }

  .sphere {
    width: 0.1em;
    height: 0.1em;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    top: 0.1em;
    z-index: 1;
    transition: width 2s, height 1s;
    margin: -5px;
  }

  @keyframes fallToBottom {
    to {
      transform: translateY(20vh);
    }
  }
}

/*sm*/
@media (min-width: 640px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
    
  }

  html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  .homeImg {
    width: 50vw;
    height: auto;
    border: 4px solid black;
  }

  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    background-color: #333;
    width: 100vw;
  }

  .logoAndTabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 99vw;
  }

  .navBar {
    width: 80vw;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
  }

  .navLink {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    transition: transform 0.3s ease;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .linkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLink:hover {
    transform: scale(1.1);
  }

  .linkContainer:hover .brush {
    visibility: hidden;
  }

  .logoContainer {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navLogo {
    height: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .brush {
    width: 10em;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }

  .homeMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    width: 80vw;
  }

  .homeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 127vh;
    gap: 0.1em;
  }

  .homeText {
    width: 80vw;
    font-size: 1em;
    padding-bottom: 1em;
  }

  .servicesMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5.5em;
  }

  .serviceMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 0.5em;
  }

  .serviceText {
    width: 95vw;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .serviceImg {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17em;
  }

  .reviewsMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .phoneImg {
    height: 2em;
  }

  .emailImg {
    height: 2em;
  }

  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 0.5em;
  }

  .review {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25em;
  }

  .reviewText {
    width: 90vw;
    font-size: 0.8em;
  }

  .nameRate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0em;
  }

  .name {
    margin: 0px;
  }

  .rating {
    font-size: 2em;
    margin: 0px;
  }

  .headerEffect {
    display: flex;
    align-items: center;
    width: 99vw;
  }

  .sphere {
    width: 0.1em;
    height: 0.1em;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    top: 0.1em;
    z-index: 1;
    transition: width 2s, height 1s;
    margin: -5px;
  }

  @keyframes fallToBottom {
    to {
      transform: translateY(20vh);
    }
  }
}

/*md*/
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }

  html {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }

  .homeImg {
    width: 50vw;
    height: auto;
    border: 4px solid black;
  }

  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    background-color: #333;
    width: 100vw;
  }

  .logoAndTabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 99vw;
  }

  .navBar {
    width: 80vw;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
  }

  .navLink {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    transition: transform 0.3s ease;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .linkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLink:hover {
    transform: scale(1.1);
  }

  .linkContainer:hover .brush {
    visibility: hidden;
  }

  .logoContainer {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navLogo {
    height: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .brush {
    width: 10em;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }

  .homeMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    width: 80vw;
  }

  .homeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 0.1em;
  }

  .homeText {
    width: 80vw;
    font-size: 1em;
    padding-bottom: 1em;
  }

  .servicesMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5.5em;
  }

  .serviceMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .serviceText {
    width: 65vw;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .serviceImg {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviewsMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .phoneImg {
    height: 2em;
  }

  .emailImg {
    height: 2em;
  }

  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    gap: 0.5em;
  }

  .review {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25em;
  }

  .reviewText {
    width: 60vw;
    font-size: 0.8em;
  }

  .nameRate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0em;
  }

  .name {
    margin: 0px;
  }

  .rating {
    font-size: 2em;
    margin: 0px;
  }

  .headerEffect {
    display: flex;
    align-items: center;
    width: 99vw;
  }

  .sphere {
    width: 0.1em;
    height: 0.1em;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    top: 0.1em;
    z-index: 1;
    transition: width 2s, height 1s;
    margin: -5px;
  }

  @keyframes fallToBottom {
    to {
      transform: translateY(20vh);
    }
  }
}

/*lg*/
@media (min-width: 1024px) and (max-width: 1279px) {
  body {
    overflow-x: hidden;
  }
  html {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }

  .homeImg {
    width: 50vw;
    height: auto;
    border: 4px solid black;
  }

  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    background-color: #333;
    width: 100vw;
  }

  .logoAndTabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 99vw;
  }

  .navBar {
    width: 80vw;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
  }

  .navLink {
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: transform 0.3s ease;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .linkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLink:hover {
    transform: scale(1.1);
  }

  .linkContainer:hover .brush {
    visibility: hidden;
  }

  .logoContainer {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navLogo {
    height: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .brush {
    width: 10em;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }

  .homeMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    width: 50vw;
  }

  .homeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 0.1em;
  }

  .homeText {
    width: 80vw;
    font-size: 2em;
    padding-bottom: 1em;
  }

  .servicesMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5.5em;
  }

  .serviceMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .serviceText {
    width: 65vw;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .serviceImg {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviewsMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .phoneImg {
    height: 2em;
  }

  .emailImg {
    height: 2em;
  }

  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    gap: 0.5em;
  }

  .review {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25em;
  }

  .reviewText {
    width: 60vw;
    font-size: 1em;
  }

  .nameRate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0em;
  }

  .name {
    margin: 0px;
  }

  .rating {
    font-size: 2em;
    margin: 0px;
  }

  .headerEffect {
    display: flex;
    align-items: center;
    width: 99vw;
  }

  .sphere {
    width: 0.1em;
    height: 0.1em;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    top: 0.1em;
    z-index: 1;
    transition: width 2s, height 1s;
    margin: -5px;
  }

  @keyframes fallToBottom {
    to {
      transform: translateY(20vh);
    }
  }
}

/*xl*/
@media (min-width: 1280px) and (max-width: 1535px) {
  body {
    overflow-x: hidden;
  }

  html {
    height: 100vh;
    width: 100vw;
  }
  .homeImg {
    height: 35em;
    border: 4px solid black;
  }

  .navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    background-color: #333;
  }
  .logoAndTabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }
  .navBar {
    width: 80vw;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .navLink {
    color: white;
    text-decoration: none;
    padding: 1em 1em 0.75em 1em;
    font-size: 2em;
    transition: transform 0.3s ease;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLink:hover {
    transform: scale(1.1);
  }

  .linkContainer:hover .brush {
    visibility: visible;
  }
  .logoContainer {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navLogo {
    height: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .brush {
    width: 10em;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }
  .homeMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4.5em;
  }

  .homeMain {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.1em;
  }

  .homeText {
    width: 40vw;
    font-size: 1.5em;
    text-align: center;
  }
  .logo {
    width: 40vw;
  }
  .servicesMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
  }
  .serviceMain {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 70vh;
  }

  .serviceText {
    width: 45vw;
    font-size: 1.7em;
  }

  .serviceImg {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviewsMainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .phoneImg {
    height: 2em;
  }

  .emailImg {
    height: 2em;
  }

  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
  }

  .review {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .reviewText {
    width: 30vw;
  }
  .nameRate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0em;
  }
  .name {
    margin: 0px;
  }

  .rating {
    font-size: 2em;
    margin: 0px;
  }

  .headerEffect {
    display: flex;

    align-items: center;
    width: 99vw;
  }
  .sphere {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    top: 1em;
    z-index: 1;
    transition: width 2s, height 1s;
    margin: -5px;
  }
  @keyframes fallToBottom {
    to {
      transform: translateY(50vh);
    }
  }
}

/*2xl*/
@media (min-width: 1536px) {
}
